 
 .navbar{
  list-style: none;
  display: flex;
  align-items: center;
  gap:70px;
 }
 .active{
  color: aliceblue;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
 }




/* about */
#dlw{
  background-color: #ff1361;
  color: aliceblue;
  cursor: pointer;
  border: 2px solid #390718;
  border-radius: 10px;
}


/* myproject */
.height{
  height: 500px;
  background-color: rgb(203,209,229);
  color:rgb(219, 24, 24);
}
#p1{
  display: flex;
  justify-content: center;
}
#p2{
  color: #390718;
  font-size:larger;
  font-style: italic;
}
#p3{
  color: #390718;
  font-size:larger;
  font-style: italic;

}





/* contactAS */


  
#c1{
  color: #ff1361;
 display: flex;
 justify-content: center;
}


/* .card{
  border-radius: 60px 70px 40px 140px;
} */

 









 
